<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    {% include 'components/links.html' %}
</head>
<body>
    {% include 'components/header.html' %}

    {% block content %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

    {% include 'components/footer.html' %}
    {% include 'components/scripts.html' %}
    
    {% block custom_scripts %}
    {% endblock %}
    
</body>
</html>